<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for a Recipe</title>
</head>
<body>
    <div class="row">
      <div class="column">
        <h2>Input Ingredients and Find Recipes with Those Ingredients</h2>
        <form method="POST" name="recipe_search">
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
          
          <p> Ingredient 1: <input type="text" size="15" name="ingredient 1" />  </p>
          <p> Ingredient 2: <input type="text" size="15" name="ingredient 2" /> </p>
          <p> Ingredient 3: <input type="text" size="15" name="ingredient 3" />  </p>
          <p> Ingredient 4: <input type="text" size="15" name="ingredient 4" /> </p>
          </p>
          <p>
            <input type="submit" value="Find a Recipe" />
          </p>
        </form>
      </div>
    </div>
    </body>